# Vite exposes ONLY vars prefixed with VITE_
# This file is SAFE TO COMMIT

VITE_DEMO_MODE=false
VITE_PRIVACY_BLUR_DEFAULT=true

# If you later add real APIs on web:
VITE_MAPS_API_KEY=
VITE_WEATHER_API_KEY=
